/* ~~~~~ ROOT ~~~~~ */

:root {
    --primary-clr: #045462;
    --secondary-clr1: #8fe5f5;
    --secondary-crl2: #f8b4d7;
    --secondary-mid1: #2ebfd9;
    --secondary-mid2: #f056a6;
    --secondary-dark2: #bf1d71;
    --light: #ffffff;
    --dark: #000000;
    --neutral: #4a5759;

    --xs: 12px;
    --s: 14px;
    --sm: 16px;
    --med: 20px;
    --mlg: 24px;
    --lg: 32px;
}

/* ~~~ FONTS ~~~ */

.s-serif {
    --s-serif: 'Atkinson-Hyperlegible';
}

.y-serif {
    --y-serif: 'Georgia';
}


/* ------------------------------------- */



/* ---------------GLOBAL----------------- */



/* ------------------------------------- */
html {
    min-height: 100vh;
}

*:focus {
    /* border: 2px solid var(--kobe); */
    border-radius: 10px;
    outline: 2px solid var(--primary-clr);
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

/* ~~~~~ FLEX ~~~~~ */

.flx-parent-row {
    display: flex;
    flex-flow: row nowrap;
}

.flx-parent-col {
    display: flex;
    flex-flow: column nowrap;
}

.center-align {
    align-self: center;
}

.justify-space-between {
    justify-content: space-between;
}


/* -----------LINKS--------------------- */
a {
    color: var(--light);
    padding: 3px;
}

a:hover, button:hover {
    cursor: pointer;
}

a:visited {
    color: var(--secondary-clr1);
}



/* ------------------------------------- */
p {
    color: var(--rich-black-fogra-39);
}









/* ------------------------------------- */
/* ------------------------------------- */

#skiptomain {
    display: none;
}

/* ------------------------------------- */
/* --------------HOME------------------------------------------------ */
/* ------------------------------------- */

#introbody {
    width: 100%;
    min-height: 100vh;
}

/* ------------------------------------- */

/* ---------------HEADER---------------- */

/* ------------------------------------- */
header {
    min-height: 75px;
    background: var(--primary-clr);
}

.logo-home {
    padding-left: 10px;
}

nav{
    align-items: center;
    justify-content: center;
    flex-grow: 0.25;
}

nav ul {
    align-self: center;
    width: 100%;
}

nav ul li {
    font-size: var(--mlg);
}

.socials {
    padding-right: 10px;
}

.header-social {
    aspect-ratio: 1;
    height: 30px;
    color: var(--light);
}



/* ------------------------------------- */

/* ---------------FOOTER---------------- */

/* ------------------------------------- */

footer {
    background: var(--primary-clr);
    padding: 1%;
}

footer ul li {
    text-align: center;
    min-height: 40px;
}

.copyright {
    color: var(--light);
    text-align: center;
    padding: 10px;
}




/* ------------------------------------- */

/* ---------------MAIN------------------- */

/* ------------------------------------- */
.warehouse {
    margin: 5%;

    display: flex;
    flex-flow: column;
    gap: 20px;
}

.container {
    min-height: 100px;

    display: flex;
    flex-flow: column;
    justify-content: center;
}

/* ------------------------------------- */
/* ----------INTRODUCTION--------------- */
/* ------------------------------------- */

.introduction {
    min-height: 200px;
}

.introduction h1 {
    font-size: 60px;
    text-align: center;

    color: var(--kobe);
}

.introduction p {
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

.introduction p em {
    color: var(--kobe);
}

/* ------------------------------------- */
/* ----------PROJECTS------------------- */
/* ------------------------------------- */
.projects h2 {
    font-size: 26px;
    text-align: center;

    color: var(--kobe);
}

/* ------------------------------------- */
/* -------------CAROUSEL---------------- */
/* ------------------------------------- */
.carousel {
    overflow: auto;
    scroll-snap-type: x mandatory;

    display: flex;
    gap: 15px;

    padding: 15px;
    min-height: 250px;
}

.projectBox {
    height: 200px;
    width: 200px;

    scroll-snap-align: start;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 18px;

    border-radius: 10px;
    border: var(--blue-border);
    background-color: var(--cultured);
    box-shadow: 0px 5px 5px gray;

    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.projectBox:hover {
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.projectBox .pfigure img {
    width: 100px;
    height: 100px;
}

.projectBox .pimg {
    font-size: 90px;
    padding: 10px;

    color: var(--prussian-blue);
}

.projectBox .aboutProject {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.dot {
    all: unset;
    height: 15px;
    width: 15px;

    border-radius: 15px;
    background: gray;
    margin: 10px 2.5px;
}

.dot:focus {
    transform: scale(1.5);
    background-color: var(--prussian-blue);
}

/* ------------------------------------- */

/* ------------------------------------- */
/* ----------PROJECTS-PAGE-------------- */
/* ------------------------------------- */

/* ------------------------------------- */
.proj-page h1 {
    font-size: 40px;
    color: var(--kobe);
    text-align: center;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    gap: 20px;

    margin: 20px 0px;
}

.wideProject {
    min-width: 100%;
    gap: 10px;
}

.wideProject .aboutProject, .wideProject .pfigure {
    width: 50%;
}

.wideProject .description {
    display: none;
}

.readMore {
    color: var(--kobe);
}

/* ------------------------------------- */

/* ------------------------------------- */
/* -------------ANIMATIONS-------------- */
/* ------------------------------------- */

/* ------------------------------------- */
@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform:     translateY(-10px);
        transform:         translateY(-10px)
    }
    60% {
        -webkit-transform: translateY(-8px);
        -ms-transform:     translateY(-8px);
        transform:         translateY(-8px)
    }
}

@-webkit-keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform:     translateY(-10px);
        transform:         translateY(-10px)
    }
    60% {
        -webkit-transform: translateY(-8px);
        -ms-transform:     translateY(-8px);
        transform:         translateY(-8px)
}
}






















/* ------------------------------------- */
/* -------------TO PROJECTS------------- */
/* ------------------------------------- */
.toprojects {
    min-height: 80px;

    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: center;

    padding: 0px 20px;
    border-bottom: 2px solid var(--cultured);

    font-size: 20px;
}

.arrowButton{
    border: var(--blue-border);
    border-radius: 10px;
    padding: 10px 20px 10px 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 5px 5px gray;
    background-color: var(--cultured);
}

.arrowButton:hover{
    transform: translateX(10px);
    transition: 0.5s;
}

.arrow {
    border: solid var(--kobe);
    border-width: 0 10px 10px 0;

    display: inline-block;

    padding: 10px;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/* ------------------------------------- */
/* -------------CONTACT-SECTION--------- */
/* ------------------------------------- */
.contact {
    align-items: center;
    border-top: 2px solid var(--cultured);
    margin-top: 5px;
}

.contact p {
    font-size: 20px;
}

.contact p strong {
    color: var(--kobe);
}






/* ------------------------------------- */



/* ----------MEDIA QUERIES-------------- */



/* ------------------------------------- */
@media screen and (prefers-reduced-motion){
    *, .projectBox, nav ul li:hover {
        animation: none;
        transform: translateY(0px);
    }
}


/* ------------------------------------- */
/* ------------TABLET------------------- */
/* ------------------------------------- */
@media screen and (min-width: 600px) {

}



/* ------------------------------------- */
/* --------------DESKTOP---------------- */
/* ------------------------------------- */
@media screen and (min-width: 1200px) {



    /* ------------------------------------- */
    /* --------------CAROUSEL--------------- */
    /* ------------------------------------- */
    .carousel {
        justify-content: center;
    }

    .dots {
        display: none;
    }




    /* ------------------------------------- */
    /* --------------PROJECTS-PAGE---------- */
    /* ------------------------------------- */
    .projectGrid {
        display: grid;
        grid-template-columns: repeat(4, 0.5fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 20px;

        margin: 20px 0px;
    }

    .wideProject {
        min-width: 100%;
        justify-content: space-around;
        animation: none;
    }

    .wideProject .description{
        display: block;
    }

    .aboutProject {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #msu, #first-site {
        grid-column: 1 / 3;
    }

    #mhtummy, #letters-database {
        grid-column: 3 / -1;
    }

    #letters {
        grid-column: 2 / 4;
    }
}