/* VARIABLES */
:root {
    --primary: orange;
    --secondary: blue;
    --tertiary: purple;
    --neutral: black;
    --neutral-variant: grey;
    --positive: green;
    --negative: red;
}

html {
    background-color: var(--neutral-variant);
}

header {
    top: 0;
    width: 100vw;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

