
html {
    background: black;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    padding: 2rem;
    color: rgb(39, 180, 46);
}

.container p {
    color: white;
    font-size: 1.5rem;
}
